<html>
<head>
    <title>Test Form</title>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/static/js/application_form.js"></script>
</head>
<body>
    <form id = "myform">
        <span>First Name</span> <input type = "text"  name = "firstname" class="info">
        <br> 
        <span>Last Name</span> <input type = "text"  name = "lastname" class="info"> 
       

        <h2>references</h2>

        <div id="references">
            <div class="reference-form">
                <span>Name: </span> <input type = "text"  name = "refname">
                <span>Phone: </span><input type = "text"  name = "refphone">
            </div>
        </div>
        <input type = "button" id="add-reference" value="Add">

        <br>
        <div><input type = "submit" value = "submit"></div>
    </form>

</body>


</html>
